---
repos:
  - repo: local
    hooks:
      - id: build_requirements
        name: Build again requirements.txt
        entry: bash -c 'cd frameworks && pip3 freeze > requirements.txt'
        language: system

  - repo: https://github.com/psf/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.8

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.7.9
    hooks:
    - id: flake8
      args: ['--ignore=W503']
